#home{background-color:#050a13;
color:  rgb(255, 255, 255);
padding: 5rem 1rem;
padding-top: 7rem;
text-align: center;}

.home_avatar{width: 250px;
height: 250px;
object-fit: cover;
border-radius: 100%;
border: 3px dotted  rgb(115, 139, 255);}

.section_title{font-size: 3rem;
margin-bottom: 1rem;
}

.home_title_strong{color: rgb(115, 139, 255);}

.section_description{ font-size: 1.3rem;}
.section_contact{display: inline-block;
background-color: rgb(115, 139, 255);
margin: 1rem;
color:rgb(255, 255, 255);
padding: 0.5rem 1rem;
font-weight: bold;
border-radius: 5px;
font-size: 25px;}

.section_contact:hover{background-color: transparent;
color:rgb(243, 243, 243);
outline: 2px solid ;}