#home {
    background-color: rgb(216, 201, 180);
    color: black;
    padding: 5rem 1rem;
    padding-top: 7rem;
    text-align: center;
    height: 500px;


}

.home_avatar {
    position: absolute;
    
   
    top: 150px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}






.font {
    position: absolute;
    display: block;
    left: 1em;
    top: 24rem;
    font-size: 15pt;
    line-height: 3rem;

}

.line {
    width: 20%;
    font-size: 50px;
    text-align: center;
    padding-top: 3.5rem;
}

.hr_line {
    border-left: thin solid black;
    height: 15%;
    left: 2%;

    position: absolute;
}