* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


ul {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    background: /*#fdf8eb8e*/#ece8ddb6;

    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu_open {
    display: none;
}

.header_logo {
    display: flex;
    align-items: center;
    width: 150px;
    gap: 10px;
}

.header_logo_img {
    width: 50px;
    height: 50px;
    border: 1px dotted black;
    border-radius: 100%;
}

.header_logo_title {
    font-size: 1.8rem;


}

.header_menu {
    display: flex;
    gap: 12px;
    font-size: 1.5rem;

}

.header_nav {
    display: flex;
    justify-content: flex-end;
    width: 70%;
}

.header_menu_item {
    display: block;
    padding: 8px 16px;
}

.header_menu_item:hover {
    
    border-radius: 70%;
    background-color:   #b7bda6 ;
}